/**,body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}*/

.slogan {
  width: 280px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: smaller;
  color: blue;
}
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slogan {
  animation: scroll 8s linear infinite;
}


